#terrain {
    display: grid;
    grid-template-columns: repeat(20, 20px);
    grid-template-rows: repeat(20, 20px);
    width: 400px;
    height: 400px;
    background-color: lightgrey;
}

#snake, #bonuses {
    display: grid;
    grid-template-columns: repeat(20, 20px);
    grid-template-rows: repeat(20, 20px);
}

.body {
    width: 100%;
    height: 100%;
    background-color: green;
}

.bonus {
    width: 100%;
    height: 100%;
    background-color: red;
}

