body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#terrain {
    display: grid;
    grid-template-columns: repeat(20, 20px);
    grid-template-rows: repeat(20, 20px);
}

#snake {
    grid-column: 10;
    grid-row: 10;
    display: grid;
    grid-template-columns: repeat(3, 20px);
    grid-template-rows: 20px;
}

.body {
    width: 20px;
    height: 20px;
    background-color: green;
}

#bonuses {
    position: relative;
}

.bonus {
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
}
